@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: floralwhite;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    padding: 54px 0px 0;
    height: 100vh;
    min-height: 100vh;
}

.header{
    width: 100%;

}

.header-nav{
    background-color: floralwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: fixed;
    height: 54px;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;

}

#header-nav{
    z-index: 2;
}



.nav-link{
    text-decoration: none;
    color: black;
}

.logo{
/*     color: azure; */
    text-decoration: none;
    margin-left: 200px;
    margin-top: 0.5rem;

}

.logo-siu{
    width: 160px;
}


.nav-menu{
    display: flex;
    list-style: none;
    margin-right: 200px;

}



.nav-menu-item{
    font-size: 18px;
    margin:0 10px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}



.nav-menu-link{
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    transition: all 0.5s;
    border-radius: 6px;
}

.nav-menu-link:hover{
    background-color: black;
    color: #F8F9F9;
}


.nav-toggle {
    color: white;
    background:none;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

.we__container-title{
    align-items: center;
    transition: all 400ms ease;
    background-image: url(../img/prueba.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.we__tittle{
    padding: 12px;
    color: black;
    text-align: center;
    font-size: 40px;
    display: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
    color:honeydew;
    text-transform: uppercase;
}

.we__container-title:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    transform: translateY(-2%);
}

/*CARDS*/

.cards{
    margin: 0 auto;
    background-color: floralwhite;
    width: 100%;
    margin-top: 5px;
}


.cards__one,
.cards__two{
    width: 100%;
    display: flex;
    max-width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}


.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;/*averiguar*/
    background:#F8F9F9;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
    border: 2px solid dimgrey;
}

.card1,
.card4{
    margin-right:150px;
    margin-left: 0;
}

.card3,
.card6{
    margin-left:150px;
    margin-right: 0;
}


.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%);
}

.card__img{
    width: 100%;
    height: 210px;
}

.card2{
    margin-top: 20px;
}

.card__details{
    padding: 15px;
    text-align: center;
}

.card__details p{
   line-height: 1.5;
} 

.card__details h3{
    margin-bottom: 15px;
}

.card__details a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card__details a:hover{
    background:#2fb4cc ;
    color: #fff;
}

/*FOOTER ESCRITORIO*/
.footer {
    padding: 60px 0px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    background-color: black;
    top: 10px;
    margin-top: 50px;
    width: 100%;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: darkgray;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 12px;
    opacity: 0.75;
    transition: all 0.5s;

}

.footer .social a:hover{
    opacity: 1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.5s;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;

}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyrigth{
    color: #fff;
    margin-top: 25px;
    text-align: center;
    font-size: 13px;
    opacity: 0.8;
    transition: all 0.5s;
}

.footer .copyrigth:hover{
    opacity: 1;
}


@media (max-width: 850px){

    body {
        transition: all 0.5s;
    }
    
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .logo-siu{
        width: 140px;
        margin-left: -170px;
    }

    #header{
        z-index: 100;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        background-color: black;
        position: fixed;
        top: 52px;
        width: 100%;
        padding: 20px 10px;
        height: calc(100% - 60px); 
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
        height: 100%;
    }

    .nav-menu-item{
        line-height: 120px;
        color: white;
    }
    
    .nav-toggle{
        display: block;
        color: black;
    }

    .nav-menu-link{
        color: white;
    }

    .nav-menu_visible{
        left: 0;
    }
    
    .h1_container{
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0.1rem;
        justify-content: center;
        align-items: center;
        transition: all 400ms ease;
        background-color: black;
        background-image: linear-gradient(to top right, #000000, #434343);
        border-radius: 15px;
    }

    .h1_descripcion{
        color: black;
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Acme', sans-serif;
        letter-spacing: 0.2rem;
        color:honeydew
    }

    /*CARDS*/

    .cards{
        width: 80%;
        padding-bottom: 50px;
    }


    .cards__one,
    .cards__two{
        width: 85%;
        display: inline-block;
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }


    .card{
        height: 330px;
        margin-top: 5px;
       
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6{
       margin: 0;
       margin-top: 25px;
    }
    
  

    .card__img{
        width: 100%;
        height: 120px;

    }


    .card__details{
        padding: 15px;
        text-align: center;
        padding-bottom: 10px;
        
    }

    .card__details p{
        line-height: 1.5;
        font-size: 13px;
    } 

    .card__details h3{
        margin-bottom: 10px;
        font-size: 15px;
        
    }

    .card__details a{
        display: inline-block;
        padding: 8px;
        margin-top: 20px;
        color: #2fb4cc;
        font-size: 14px;
    }

   



    /*footer responsive*/
    .footer {
        padding: 70px 0px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        background-color: black;
        top: 10px;
        margin-top: 50px;
    }
    
    .footer .social{
        text-align: center;
        padding-bottom: 25px;
        color: darkgray;
    }
    
    .footer .social a{
        font-size: 15px;
        color: inherit;
        border: 0.5px solid #ccc;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 12px;
    
    }
    
    
    .footer ul {
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
    
    }
    
    .footer ul li a {
        color: #fff;
        text-decoration: none;
        opacity: 0.8;
        transition: all 0.5s;
        
    }
    
    .footer ul li{
        display: inline-block;
        padding: 0 15px;
    
    }
    
    
    .footer .copyrigth{
        margin-top: 25px;
        text-align: center;
        font-size: 11px;

    }
    

}